body {
  padding: 0;
  margin: 0;
}

/** Top Level Components */

#message {
  display: flex;
  align-items: center;
  justify-content: center;
}

#error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

#navigation {
  max-width: 20%;
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
}

#container {
  display: flex;
  flex-direction: row;
}

#content-container {
  max-width: 80%;
  flex-grow: 4;
  padding: 20px 0px;
}

/** Navigation */
#main-view-selector {
  padding: 10px;
}

.main-view-selector-option {
  border-width: 1px;
  border-color: black;
  margin: 10px;
  background-color: #CCC;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.main-view-selector-selected {
  background-color: #AAA;
}

/** Main Views */

/** Characters */
#character-input-container {
  display: flex;
  padding: 10px;
}

#character-input-add-button {
  margin-left: 10px;
  cursor: pointer;
}

.manage-character-container  div {
  margin-bottom: 10px;
}

.manage-character-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-style: solid;
  margin: 10px;
  border-width: 1px;
}

.manage-character-button {
  padding: 10px;
  background-color: #AAA;
  cursor: pointer;
}

/** Value Training View */
#battle-container {
  outline: none;
}

.battle-view-choice-container {
  display: flex;
  justify-content: center;
}

.battle-view-timer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

#battle-view-button-container {
  display: flex;
  margin-top: 45px;
  justify-content: space-around;
}

.battle-view-choice-button {
  border-width: 1px;
  border-color: black;
  margin: 10px;
  background-color: #AAA;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 50vw;
  text-align: center;
}

.countdown-progress-bar {
  height: 20px;
  background-color: #CCC;
}

.battle-view-button {
  border-width: 1px;
  border-color: black;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

#value-list-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

#value-list-session {
  display: flex;
  justify-content: space-around;
}

/** Value List */

.value-list-name {
  border-width: 1px;
  border-color: black;
  margin: 10px;
  background-color: #AAA;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.value-list-label {
  position: relative;
  z-index: 999999;
}

.value-list-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  background-color: #70cc70;
  height: 100%;
  float: left;
  z-index: 1;
}

/** */


#character-comparison-view {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

#conflict-comparison-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#favorite-pairs-holder {
  margin: 20px;
}

#favorite-values-holder {
  margin: 20px;
}

.comparison-view-conflicts-header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.comparison-view-conflict-container {
  display: flex;
  justify-content: space-between;
  border-bottom: black;
  border-bottom-style: solid;
  margin-top: 10px;
  border-bottom-width: thin;
}

.comparison-view-conflict-container-graph {
  position: absolute;
}

.comparison-view-conflicts-values-container {
  position: relative;
  width: 100%;
  height: 60vh;
}

.comparison-view-conflict-container-graph-dot {
  width: 20px;
  height: 20px;
  background-color: green;
}

.battle-type-view {
  width: 100%;
  text-align: center;
  margin: 40px;
}

#value-difference-view {
  margin: 10px 0px 10px 0px;
}

.character-selection-view-selected {
  background-color: #AAA;
}

.common-ground-view-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/** Generics */

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.favorites-filter-button {
  padding: 20px 0px;
  cursor: pointer;
}