body {
  font-family: sans-serif;
}

#character-list {
  display: flex;
  flex-wrap: wrap;
}

#character-input-container {
  display: flex;
  padding: 10px;
}

#character-input-add-button {
  margin-left: 10px;
  cursor: pointer;
}

.character-list-name {
  border-width: 1px;
  border-color: black;
  margin: 10px;
  background-color: #AAA;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}

#battle-container {
  outline: none;
}

.battle-view-choice-container {
  display: flex;
  justify-content: center;
}

.battle-view-choice-button {
  border-width: 1px;
  border-color: black;
  margin: 10px;
  background-color: #AAA;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 50vw;
  text-align: center;
}

.value-list-name {
  border-width: 1px;
  border-color: black;
  margin: 10px;
  background-color: #AAA;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.value-list-label {
  position: relative;
  z-index: 999999;
}

.value-list-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  background-color: #70cc70;
  height: 100%;
  float: left;
  z-index: 1;
}

.values-view-linechart {
  position: relative;
  width: 90%;
  margin-left: 5%;
  height: 500px;
}

.value-list-name-linechart {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #70cc70;
}

.value-list-label-linechart {
  display: block;
  position: absolute;
  top: -20px;
  display: none;
}

.value-list-label-linechart-show {
  display: block;
}

.values-view-barchart {
  position: relative;
  width: 90%;
  margin-left: 5%;
  height: 500px;
}

.values-view-battlecount {
  display: flex;
  flex-direction: row;
}

.values-view-battlecount-tier {
  display: flex;
  flex-direction: column;
  min-width: 50px;
}

.values-view-battlecount-tier h3 {
  text-align: center;
}
.value-list-name-battlecount {
  border-width: 1px;
  border-color: black;
  margin: 10px;
  background-color: #AAA;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}