/** Reset **/
h2 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

body {
  padding: 0;
  margin: 0;
}

/** Top Level Components */

#message {
  display: flex;
  align-items: center;
  justify-content: center;
}

#error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

#navigation {
  max-width: 20%;
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #CCC;
  background: #ffffff;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

#content-container {
  max-width: 80%;
  flex-grow: 4;
  padding-top: 2vh;
  height: 100vh;
  overflow: scroll;
}

/** Navigation */

.main-view-selector-option {
  border-bottom-width: 1px;
  border-color: #CCC;
  border-bottom-style: solid;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.main-view-selector-option:hover {
  background-color: #EEE;
}

.main-view-selector-selected {
  background-color: #CCC;
}

/************************/
/** Main Content Views **/
/************************/

/** Base View **/
.main-content-view {
  margin-left: 2vw;
  margin-right: 2vw;
  height: 88vh;
  position: relative;
}

/** Characters **/

#characters-container {
  
}

#character-input-add-button {
  cursor: pointer;
  text-align: center;
}

#input-add-character-name {
  width: 75px;
  margin-bottom: 10px;
}

.manage-character-container  div {
  margin-bottom: 10px;
}

.manage-character-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-style: solid;
  margin: 10px;
  border-width: 1px;
}

.manage-character-button {
  padding: 10px;
  background-color: #AAA;
  cursor: pointer;
}

.manage-characters-add-button-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -25px;
  margin-top: -25px;
  padding: 0;
}
.manage-characters-add-button-image {
  width: 35px;
  height: 35px;
}
.manage-characters-add-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-style: solid;
  margin: 10px;
  border-width: 1px;
  cursor: pointer;
  position: relative;
}


/** Value Training View */
#character-trainer-view-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

#character-trainer-view-header-text {
  margin-left: 10px;
}

#character-trainer-view-battle-container {
  outline: none;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-top: 10vh;
}

.battle-view-timer-container {
  width: 100%;
  display: flex;
}

#battle-view-button-container {
  display: flex;
  margin-top: 45px;
  justify-content: space-around;
}

#character-trainer-view-center-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.battle-view-choice-button {
    margin: 10px;
    background-color: rgba(200, 200, 200, 0.59);
    padding: 20px;
    cursor: pointer;
    width: 30vw;
    height: 20vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-progress-bar {
  height: 20px;
  background-color: #CCC;
}

.battle-view-button {
  border-width: 1px;
  border-color: black;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

#value-list-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  bottom: 4vh;
  position: absolute;
}

#value-list-session {
  display: flex;
  justify-content: space-around;
}

.battle-type-view {
  text-align: center;
}

/** Value List */

.value-list-container {
  border-width: 1px;
  border-color: black;
  margin: 10px;
  background-color: #AAA;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.favorite-button-container-value-list-view {
  cursor: pointer;
  z-index: 999;
  padding-right: 10px;
  max-height: 100%;
}

.value-list-label {
  position: relative;
  z-index: 999999;
}

.value-list-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  background-color: #70cc70;
  height: 100%;
  float: left;
  z-index: 1;
}

/** Character Comparison View */

#character-comparison-view {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

/** Character Favorites **/

#favorite-pairs-holder {
  margin: 20px;
}

#favorite-values-holder {
  margin: 20px;
}

/** Value Difference **/

#value-difference-view {
  margin: 10px 0px 10px 0px;
}

/** Internal Conflict **/


/** **/

.common-ground-view-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/** Generics */

.favorite-button-container {
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 999;
}

/** deprecated **/
.favorites-filter-button {
  padding: 20px 0px;
  cursor: pointer;
}

.comparison-view-conflicts-header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.comparison-view-conflict-container {
  display: flex;
  justify-content: space-between;
  border-bottom: black;
  border-bottom-style: solid;
  margin-top: 10px;
  border-bottom-width: thin;
}

.comparison-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}