.button {
  cursor: pointer;
}

#button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.recent-document {
  max-width: 300px;
}