.button {
  cursor: pointer;
}

#button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.recent-documents-header {
  font-size: 15px;
  opacity: 0.5;
  color: #3A3A3A;
}

.recent-documents-list {
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  border-bottom-width: 1px;
}

.recent-document {
  max-width: 300px;
}